<footer class="page-footer font-small  darken-3">

    <div class="container">
        <hr>
        <div class="text-center center-block">
            <p class="txt-railway">Follow me</p>
            <a href="https://vk.com/queenofdebauchery"><i id="social-vk"
                                                            class="fa fa-vk fa-3x social"></i></a>
            <a href="mailto:ralina_sha@mail.ru"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://mdbootstrap.com/"> alina_sha </a>
    </div>

</footer>