{% extends 'base.html' %}

{% block content %}
     <h1> Info about this blog </h1>
    <br>
    <h3>Hello everybody! I called it "Inspiration Blog"!</h3>
    <h3>Why? Because poetry is an inspiration for me and my blog is devoted to poetry.</h3>
    <h3>My site is for those who love poetry. Here people can share poems and read it.</h3>
    <h3>Maybe it will be poems by their favorite poets, or maybe their own compositions.</h3>
    <h3>Maybe it will be their favorite poems, or maybe poems that have parasitized them.</h3>
    <br>
    <h5>It’s like Instagram for poetry lovers. People share poems and read new ones.
        But the main thing is the essence, not the picture!</h5>
{% endblock %}