{% extends 'inspiration/base.html' %}

{% block content %}
    <div class="container">
        {% if poem.published_date %}
            <div class="date">
                {{ poem.published_date }}
            </div>
        {% endif %}
        <a class="btn btn-default" href ="edit">><span class="glyphicon glyphicon-pencil"></span></a>
        <h1>{{ poem.title }}</h1>
        <p>{{ poem.text|linebreaksbr }}</p>
{#        <p class="image"><img src="{{ poem.image.url }}" id="self_photo" alt="image"></p>#}
    </div>
{% endblock %}