{% extends 'base.html' %}

{% block content %}
    <h3><a class="btn btn-outline-success m-1" href="{% url 'inspiration:poem_lovesad' %}">Love and Sadness</a></h3>
    {% for poem in poems %}
        <div class="post">
            <div class="date">
                {{ poem.published_date }}
                <br>
            </div>
            <h3>{{ poem.owner }} </h3>
            <h1><a href="{{ poem.id }}">{{ poem.title }}</a></h1>
            <p>{{ poem.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
{% endblock %}